#h-menu{
    width: 100%;
    background-color:greenyellow;
}
#h-menu>ul{ margin: auto;  width: 1000px;}
#h-menu ul{ padding: 0px;
    list-style: none;
    font-size: 0px;
}
#h-menu ul li{ width: 200px;}
#h-menu > ul > li{
    display: inline-block;
    position: relative;
}
#h-menu > ul > li ul{
    position: absolute; display: none;
}
#h-menu ul li:hover > ul{
    display: block
}

#h-menu ul li a{
    font-size: 15px;
    display: block; 
    text-decoration: none;
    padding:5px; 
    border: 1px solid red;
    border-top: 0px;
    border-bottom: 0px;
    font-family: Arial; color: blue;

    /* background-image: url("ic_arr.png");
    background-repeat: no-repeat;
    background-position-y: 6px;
    padding-left: 20px; */
    background-size: 15px;
    background-color: greenyellow;
     text-align: center;
}
#h-menu ul li a:hover{ background-color: yellow;
    text-shadow: 3px 3px 5px green;
}